.chart-list {
    display: flex;
    .chart-block {
        background: #e1e1e1;
        padding: 10px;
        display: inline-block;
        border-radius: 10px;
        margin: 10px;
        .chart-title {
            margin: 5px;
            font-weight: 700;
        }
        .chart-description {
            margin: 5px;
            font-size: 13px;
            color: grey;
            max-width: 250px;
        }
    }
}
